.book-library {
    width: 80%;
    margin: auto;
    box-shadow: 0 0 10px rgba(0,0,0,0.2);
    padding: 20px;
}

h1 {
    text-align: center;
}

.book {
    margin: 20px;
}

.book img {
    width: 200px;
    display: block;
}

.book p {
    color: rgb(119, 119, 119);
}

.book div {
    background-color: rgb(46, 204, 113);
    color: rgb(255, 255, 255);
    padding: 10px;
    width: fit-content;
    border-radius: 5px;
}
